body{
    background-color: rgb(213, 213, 213);
    font-family: Arial, Helvetica, sans-serif;
}

header{
    background-color: rgb(110, 110, 255);

    position:absolute;
    left:10%;
    right:10%;
    top:0%;
    height: 150px;
}

header img{
    position:relative;
    height:50px;
}

header h1{
    color: white;
    display:flex;
    justify-content: center;
    text-align: center;
}

main{
    background-color: white;

    position:absolute;
    left:10%;
    right:25%;
    top: 150px;
    height: 250px;
    padding-left:10px;
    padding-right:10px;
}
main a{
    display:block;
    text-align:right
}

aside{
    background-color: cyan;
    padding-left: 10px;
    padding-right: 5px;

    position:absolute;
    right: 10%;
    top:150px;
    left:75%;
    height:250px;
}
aside button{
    position:absolute;
    top: 200px;

}

footer{
    background-color: cornflowerblue;
    color:white;
    position:absolute;
    top:400px;
    left:10%;
    right:10%;
    height: 50px;
    display:flex;
    align-items: center;
    justify-content: center;
}
footer a{
    color:white;
    margin-right: 15px;
}